@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body {
    background-color: #2c3e50;
}


/*General*/

.hover-text {
    display: none;
    position: absolute;
    transform: translate(10%, 10%);
    z-index: 999;
}

.movie-card:hover>.hover-text {
    display: block;
}

.pointer {
    cursor: pointer;
}

.default {
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}